<!doctype html>
<html>
  <head>
  </head>
  <body>
     <form method="post" action="/articles">
        <input type="text" name="article[title]"><br>
        <input type="text" name="article[author]"><br>
        <textarea name="article[description]">
        </textarea><br>
        <button>Save Article</button>
      </form>
  </body>
</html>